/*

Template: FreeBird (Admin Panel)

Author Name: Maimuna Manuel Momade

Author e-mail: maimunamomade@gmail.com

Version: 1.0

*/

/** Global Styles **/

body {
  margin-top: 100px;

  background: #0a778a;
}

@media (min-width: 992px) {
  body {
    margin-top: 70px;
  }
}

#wrapper {
  background: #f9f9f9;

  overflow-x: hidden;

  margin-top: -50px;
}

#page-wrapper {
  min-height: 570px;
}

#page-wrapper .container-fluid {
  margin-top: 30px;

  margin-bottom: 30px;
}

@media (min-width: 992px) {
  #wrapper {
    margin-left: 260px;

    margin-top: -30px;
  }
}

/** Left Side Styles **/

#mainNav .navbar-collapse {
  overflow: auto;

  max-height: 75vh;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .side-nav {
    height: calc(100vh - 70px);
  }

  #mainNav .navbar-brand {
    width: 250px;
  }

  #mainNav .navbar-collapse {
    overflow: visible;

    max-height: none;
  }

  #mainNav .navbar-collapse .side-nav > .nav-item > .nav-link {
    padding: 1em;

    width: 260px;

    cursor: pointer;

    background: #0a778a;
  }

  #mainNav .navbar-collapse .side-nav {
    position: absolute;

    top: 0;

    left: 0;

    margin-top: 56px;

    width: 260px;

    overflow-y: auto;

    overflow-x: hidden;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;

    background-color: #062f64f8 !important;
  }
}

.side-nav > li > ul {
  padding: 0;
}

.side-nav > li > ul > li > a {
  display: block;

  padding: 10px 15px 10px 38px;

  text-decoration: none;

  color: #999;

  cursor: pointer;
}

.side-nav > li > ul > li > a:hover {
  color: #fff;
}

/*** Custom Color Card Styles ***/

.huge {
  font-size: 40px;

  line-height: normal;
}

/*** Links Table ***/

.links-table tbody tr:hover {
  color: blue;

  cursor: pointer;

  text-decoration: underline;
}

/*** Admin Profile Styles ***/

.admin-info {
  position: relative;
}

.rounded {
  border-radius: 12px;
}

hr.dotted {
  height: 0;

  border-bottom: 1px dotted #ddd;

  margin: 11px 0 11px 0;
}

.admin-info .admin-info-title {
  background: rgba(36, 27, 28, 0.9);

  bottom: 10%;

  color: #fff;

  font-size: 18px;

  left: 0;

  letter-spacing: -1px;

  padding: 9px 11px 9px;

  position: absolute;

  text-transform: uppercase;

  z-index: 1;
}

.admin-info .admin-info-inner {
  display: block;
}

.admin-info .admin-info-type {
  background-color: #0088cc;

  border-radius: 2px;

  display: inline-block;

  float: left;

  font-size: 12px;

  font-weight: 400;

  letter-spacing: 0;

  margin: 8px -2px -15px -2px;

  padding: 2px 9px;

  text-transform: none;
}

.widget-content-expanded {
  font-size: 15px;
}

.widget-content-expanded span {
  font-weight: bold;
}

.widget-content-expanded i {
  color: #0088cc;

  margin-right: 5px;
}

/** Forms Styles **/

.form-text {
  font-weight: 500;

  margin-top: 0.5rem;
}

.filter-form {
  background: #e9ecef;

  border-radius: 5px;
}

/*** Footer Layout Styles ***/

.border-right {
  border-right: 1px solid #e6e6e6;
}

/*** Messages Styles ***/

.message-div {
  border: 1px solid #e6e6e6;

  padding: 12px 20px 10px 20px;
}

.message-div .message-image {
  float: left;

  width: 45px;

  height: 45px;

  margin-right: 12px;

  border-radius: 50%;
}

.message-div .message-desc {
  margin-left: 56px;
}

.message-div .message-desc a {
  white-space: nowrap;

  max-width: 0px;
}

.message-div .message-offer {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  padding: 12px 20px 20px 20px;
  margin-bottom: 6px;
}

.message-div .message-offer .price {
  font-size: 36px;
  color: #28a745;
}

.message-div .message-offer p {
  margin-bottom: 8px;
}

.border-box {
  border-right: 1.5px solid #a5a5a5;
}

.border-box:last-child {
  border-right: 0px;
}

@media (max-width: 767px) {
  .border-box {
    border-right: 0px;

    border-bottom: 1.5px solid #a5a5a5;

    margin-bottom: 3px;
  }

  .border-box:last-child {
    border-bottom: 0px;
  }
}

/*** Single Seller Styles ***/

.seller-info {
  position: relative;
}

.seller-info .seller-info-title {
  background: rgba(36, 27, 28, 0.9);

  bottom: 10%;

  color: #fff;

  font-size: 18px;

  left: 0;

  letter-spacing: -1px;

  padding: 9px 11px 9px;

  position: absolute;

  text-transform: uppercase;

  z-index: 1;
}

.seller-info .seller-info-inner {
  display: block;
}

.seller-info .seller-info-type {
  background-color: #0088cc;

  border-radius: 2px;

  display: inline-block;

  float: left;

  font-size: 12px;

  font-weight: 400;

  letter-spacing: 0;

  margin: 8px -2px -15px -2px;

  padding: 2px 9px;

  text-transform: none;
}

.box {
  background: #fff;

  border: 1px solid #e6e6e6;

  box-sizing: border-box;

  margin: 0 0 30px;

  padding: 15px;
}

/** Single Order Page Styles **/

.order-table thead tr {
  background: #ccc;
}

.order-status-message {
  text-align: center;

  padding: 25px 20px;
}

/*** Insert User * Edit User Profile Page Styles ***/

.card-hr {
  margin-top: 1rem;

  margin-bottom: 1rem;

  margin-left: -1.2rem;

  margin-right: -1.2rem;
}

.password-strength-checker #meter_wrapper {
  border: 1px solid gray;

  width: 202px;

  height: 25px;

  border-radius: 3px;
}

.password-strength-checker #meter {
  height: 23px;
}

.password-strength-checker #pass_type {
  font-size: 15px;

  margin-top: 13px;

  position: absolute;

  top: 0;

  right: 90px;

  font-weight: bold;

  color: black;
}

@media (max-width: 580px) {
  .password-strength-checker .input-group .input-group-addon:last-child {
    display: none;
  }

  .password-strength-checker .input-group input {
    border-radius: 3px !important;
  }
}
